stages:
  - build-tools
build-tools:
  stage: build-tools
  script:
    - dotnet publish Ksp2Redux.Tools.Installer/Ksp2Redux.Tools.Installer.csproj -r win-x64 -o ./artifacts
  artifacts:
    when: always
    paths:
      - artifacts/
