stages:
  - build-tools
  - release

build-tools:
  stage: build-tools
  script:
    - dotnet publish Ksp2Redux.Tools.Installer/Ksp2Redux.Tools.Installer.csproj -r win-x64 -o ./artifacts
  artifacts:
    when: always
    paths:
      - artifacts/

create-release:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: manual
    - if: $CI_COMMIT_TAG
      when: manual
  script:
    - $ZIP_NAME = "Ksp2Redux.Tools.Installer-${env:CI_COMMIT_SHORT_SHA}-net8.0.zip"
    - Write-Host "Zipping artifacts into $ZIP_NAME..."
    - Compress-Archive -Path artifacts\* -DestinationPath $ZIP_NAME

    - Write-Host "Downloading release-cli..."
    - $releaseCliUrl = "https://gitlab.com/gitlab-org/release-cli/-/releases/v0.24.0/downloads/bin/release-cli-windows-amd64.exe"
    - Invoke-WebRequest -Uri $releaseCliUrl -OutFile release-cli.exe
    - Write-Host "release-cli downloaded."

    - Write-Host "Uploading $ZIP_NAME..."
    - $uploadResponse = Invoke-WebRequest -Uri "$($env:CI_API_V4_URL)/projects/$($env:CI_PROJECT_ID)/uploads?filename=$ZIP_NAME" `
      -Headers @{"JOB-TOKEN" = $env:CI_JOB_TOKEN} `
      -Method POST `
      -InFile $ZIP_NAME `
      -ContentType "application/octet-stream"
    - $uploadUrl = ($uploadResponse.Content | ConvertFrom-Json).url
    - $uploadAlt = ($uploadResponse.Content | ConvertFrom-Json).alt

    - Write-Host "Creating release..."
    - ./release-cli.exe create `
      --name "Ksp2Redux.Tools.Installer Release ($($env:CI_COMMIT_SHORT_SHA))" `
      --tag-name "v$(Get-Date -Format "yyyyMMddHHmm")-$($env:CI_COMMIT_SHORT_SHA)" `
      --description "Automated release from commit $($env:CI_COMMIT_SHA)." `
      --assets-link "{\"name\":\"$uploadAlt\", \"url\":\"$($env:CI_SERVER_URL)$uploadUrl\", \"filepath\":\"$ZIP_NAME\"}"
  needs:
    - build-tools